body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
}

header {
    background-color: #35cc8e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.hero {
    max-width: none;
    padding: 1em;
    background-color: #ffaf61;
    border-radius: 10px 10px 10px 10px;
    margin-block: 10px 20px;
}

section.hero img{
    height: none;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

section.card {
    background-color: #82afff;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
    border-radius: 10px 10px 10px 10px;
    margin-block: 10px 30px;
}

section.card img{
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

header h1{
    font-size: 40px;
    color: #12724b;
}

section h2{
    font-size: 30px;
    color: #a35000;
}

section h3{
    font-size: 20px;
    color: #334a74;
}

section p1{
    font-size: 15px;
    color: #a35000;
}
section p2{
    font-size: 15px;
    color: #334a74;
}

main{
    max-width: 1200px;
    background-color: #f5f5f5;
    margin: auto;
}

footer {
    padding: 1em;
    background-color: #9c74d8;
    justify-content: space-between;
}